node_modules
**/node_modules
.git
.github
.env
.env.*
**/.env
**/.env.*
*.log
**/*.log
apps/*/dist
packages/*/dist
apps/*/coverage
packages/*/coverage
playwright-report
test-results
**/.cache
**/.turbo
