See:
- /apps/server/.env.example
- /apps/server/.env.production.example
- /apps/store-client/.env.example
- /apps/store-client/.env.production.example
- /apps/admin-client/.env.example
- /apps/admin-client/.env.production.example

# Docker Compose Variables
MONGO_ROOT_USERNAME=njstore
MONGO_ROOT_PASSWORD=njstore-dev-mongo-password
REDIS_PASSWORD=njstore-dev-redis-password
